#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.read-the-docs {
  color: #e45555;
}

.mi-caja1 {
  display: grid;
  grid-template-columns: auto 1fr;
  /* Imagen a la izquierda, texto ocupa el resto */
  gap: 20px;
  align-items: center;
  background-color: rgb(242, 244, 245);
}

.image-style {
  width: 200px;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
  object-fit: cover;
}

.image-style2 {
  /*facebook*/
  width: 50px;
  margin-right: 40px;
  border-radius: 79%;
  justify-content: flex-end;
}

.image-style3 {
  /*youtube*/
  width: 50px;
  margin-right: -60px;
  border-radius: 99%;
  justify-content: flex-end;
}

.image-style4 {
  /*instagram*/
  width: 92px;
  margin-right: -78px;
  justify-content: flex-end;
}