#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.read-the-docs {
  color: #e45555;
}
 
.colorboxes{
  color:  rgba(242, 244, 245);
}

.mi-caja1 {
  display: grid;
  grid-template-columns: auto 1fr;
  /* Imagen a la izquierda, texto ocupa el resto */
  gap: 20px;
  align-items: center;
  background-color: rgba(242, 244, 245);
  z-index: 1; /*posicion de el grafico con respecto a la caja(ensimado)*/
  position: relative;
  border-radius: 15px; 
}

.image-style {
  width: 200px;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.image-style2 {
  /*facebook*/
  width: 50px;
  margin-right: 40px;
  border-radius: 79%;
  justify-content: flex-end;
  z-index: 1;
}

.image-style3 {
  /*youtube*/
  width: 50px;
  margin-right: -60px;
  border-radius: 99%;
  justify-content: flex-end;
  z-index: 1; /*posicion de el grafico con respecto a la caja(ensimado)*/
}

.image-style4 {
  /*instagram*/
  width: 92px;
  margin-right: -78px;
  justify-content: flex-end;
  
  z-index: 1;  /*posicion de el grafico con respecto a la caja(ensimado)*/
}


.video-container {
  display: flex;
  object-fit: contain;
  justify-content: center;
  z-index: -1;
  margin-top: -80px;
  opacity: 90%;
  
}

.custom-video {
  width: 1500px;
height: auto;
  border-radius: 0%;
 
}

.mi-caja2 {
  display: grid;
  grid-template-columns: auto 55cap;
  /* Imagen a la izquierda, texto ocupa el resto */
  gap: 20px;
  align-items: center;
 background-color: rgb(255, 255, 255);
  z-index: -1; /*posicion de el grafico con respecto a la caja(ensimado)*/
  position: relative;
  margin-top: 30px;
  
  
}

.banne2 {
  width: 600px;
  justify-content: center;
  z-index: 1; /*posicion de el grafico con respecto a la caja(ensimado)*/
}

.text1 {
  list-style: none;
  display: flex;
  font-size: 3.1rem;
  justify-content: center;
  gap: 4rem;
  /*espaciado entre los elementos*/
  margin: 1%;
  padding: 0;
  z-index: 1;
  font-style: normal;
  font-variant: normal;
  margin-right: 20%;
  font-weight: 800; /*grosor de fuente*/
 
}

.text2 {
  list-style: none;
  display: flex;
  text-align: justify;
  font-size: 1.5rem;
  gap: 4rem;
  /*espaciado entre los elementos*/
  margin: 1%;
  padding: 1%;
  z-index: 1;
  font-style: normal;
  font-variant: normal;
  margin-right: 10%;
  font-weight: 500; /*grosor de fuente*/
 
}

.list1 {
  list-style: none;
  text-align: left;
  font-size: 1.4rem; /*tamaó de fuente*/
  gap: 1rem;
  /*espaciado entre los elementos*/
  margin: 5%;
  padding: 0%;
  z-index: 1;
  font-style: normal;
  font-variant: normal;
  list-style-type: disc; /* o circle, square, etc. */
 color: black;
 font-weight: 500; /*grosor de fuente*/
}

